* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* Base styles */

img {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Task-1 */

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 64px;
  margin-top: 32px;
  margin-bottom: 64px;
}
.item {
  background-color: #f6f6fe;
  max-width: 392px;
  padding: 16px;
  border-radius: 8px;
}
.item h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 32px;
}
.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

/* Task-2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 64px;
}
.gallery-item {
  width: calc((100% - 24px * 2) / 3);
}
.gallery-image {
  object-fit: cover;
  aspect-ratio: 6 / 5;
  width: 100%;
}

/* Task-3 */

input {
  display: block;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  &:hover,
  &:focus {
    border: 1px solid #000000;
  }
}
#name-input {
  margin: 32px 24px 16px;
  width: 360px;
}
h1 {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
  line-height: 32px;
  margin-left: 24px;
}

/* Task-4 */

.login-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 408px;
}

.login-form input {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  background: #4e75ff;
  &:hover,
  &:focus {
    background: #6c8cff;
  }
  border: none;
  color: #fff;
}

.login-form button {
  margin-top: 16px;

  margin-right: auto;
}

/* Task-5 */

.widget {
  display: block;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.change-color {
  margin-top: 16px;
}
